<div class="d-flex justify-content-center align-items-center">
    {{#each cart.products}}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{this.product.title}}</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">{{this.product.price}}$</h6>
                <p class="card-text">{{this.product.description}}</p>
            </div>
        </div>
    {{/each}}
    <form action="/api/carts/{{cart._id}}/purchase" method="POST">
        <button type="submit"> Comprar </button>
    </form>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/static/assets/js/index.js"></script>