<h1>Bienvenidos al chat</h1>

<div>
    <input type="text" id="chatbox" name="chatboxk">
</div>
<div>
    <p id="messageLogs"></p>
</div>
<table>
    <tbody id="tabla">
    </tbody>
</table>

<script src=" https://cdn.jsdelivr.net/npm/sweetalert2@11.7.1/dist/sweetalert2.all.min.js "></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/static/assets/js/chat.js"></script>