<div>
    <h1>Bienvenido {{ user.full_name }}</h1>
    {{#if isAdmin}}
        {{#each users}}
            <div>
                <p>{{this.full_name}}</p>
                <p>{{this.title}}</p>
            </div>
        {{/each}}
    {{else}}
        <h2>No tienes permisos para ver los usarios</h2>
    {{/if}}
</div>
<script src="/static/assets/js/index.js">
</script>